<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351021913937-8j6smdppgp9lf027j0mnmnpn1jk37hkd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351021913937-8j6smdppgp9lf027j0mnmnpn1jk37hkd</string>
	<key>API_KEY</key>
	<string>AIzaSyCwCB1Dbf02hQqytmHVHyJivnjpevDiwXA</string>
	<key>GCM_SENDER_ID</key>
	<string>351021913937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gii.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-9d623</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-9d623.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351021913937:ios:e9568f12b20e3e9fb16570</string>
</dict>
</plist>